.div {
    width: 1000px;
    height: 1000px;
    background: linear-gradient(lightgreen,purple);
    color:white;
    text-align: center;
    line-height: 100px;
    border: 5px solid black;
}
h1 {
    font-family: Helvetica;
    background: linear-gradient(green,yellow);
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p{
    font-family: Helvetica;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 10px:
}

button {  
    background-color: lightseagreen;
    border-radius: 10px;
    color: white;
    font-family: Helvetica;
    cursor: pointer;
    width: 300px;
    height: 35px;
    text-transform: uppercase;
}
.error {
    color : red;
    font-size: 20px;
    margin: -33px;
    margin-bottom: 0px;
}

input {
    border-radius: 10px;
    width: 910px;
    height: 35px;
    margin: -40px;
}

div {
    border : 1px solid;
    padding: 10px;
    background-color: white;
    font-family: Helvetica;
    color: black;
    width: 887px;
    margin: 20px auto;
}

.div1 {
    border-radius: 10px;
    border: 2px solid black;
    margin: 0 auto;
}

.margin {
    position: absolute;
}